<div class="container-fluid bg-image" style="background-image: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600');
              height: 80vh;background-size: cover;">
    <mat-card style="margin-top: 130px;">
        <mat-card-header class="justify-content-center">
            <mat-card-title>Admin Login</mat-card-title>
        </mat-card-header>
        <form #adminLoginForm="ngForm" class="form-group" style="margin-left: 60px;">

            <div class="col-10 d-flex flex-column justify-content-center mt-3 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-icon matPrefix><i class="fa-solid fa-user"></i></mat-icon>
                    <input type="text" matInput placeholder="Username" [(ngModel)]="username" #userNameModel="ngModel"
                        [ngModelOptions]="{standalone: true}" required>
                    <mat-error *ngIf="userNameModel.invalid && (userNameModel.dirty || userNameModel.touched)">
                        Please Enter Username.
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="password"
                        #passwordModel="ngModel" [ngModelOptions]="{standalone: true}" required>
                    <mat-error *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)">
                        Please Enter Password.
                    </mat-error>
                </mat-form-field>

                <button type="button" (click)="adminLogin(adminLoginForm)" class="btn btn-success">Login</button>
            </div>
        </form>
    </mat-card>
</div>