<div class="example-container">
    <mat-toolbar *ngIf="isMobile" color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container full-height">
        <mat-sidenav [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'" #snav class="example-sidenav">
            <mat-nav-list>
                <ul>
                    <a mat-list-item (click)="changeActionForUser('getUserClicked');">User Records</a>
                    <a mat-list-item (click)="changeActionForUser('addUserClicked')">Add User</a>
                    <a mat-list-item (click)="changeActionForUser('updateUserClicked')">Update User</a>
                    <a mat-list-item (click)="changeActionForUser('deleteUserClicked')">Delete User</a>
                </ul>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- Get all users -->
            <div *ngIf="getUserClicked" class="container-fluid">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone No</th>
                            <th scope="col">Email Id</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let user of this.allUsersList; let i = index">
                        <tr>
                            <td>{{user.user_id}}</td>
                            <td>{{user.user_name}}</td>
                            <td>{{user.user_phone}}</td>
                            <td>{{user.user_email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Add user Code -->
            <div *ngIf="addUserClicked" class="container-fluid text-center">
                <form [formGroup]=" userForm">
                    <h3 for="addUserFields" style="margin: 40px 0px 40px;">Add User Information</h3>
                    <div id="addUserFields">
                        <div>
                            <mat-form-field class="width-50">
                                <input formControlName="name" matInput placeholder="Name">
                                <mat-icon matPrefix><em class="fa-solid fa-user fa-xs"></em></mat-icon>
                                <mat-error
                                    *ngIf="userForm.controls.name?.invalid && (userForm.controls.name?.dirty || userForm.controls.name?.touched)">
                                    <span *ngIf="userForm.controls.name.hasError('required')">First name is
                                        required!</span>
                                    <span
                                        *ngIf="userForm.controls.name.hasError('maxlength') && !userForm.controls.name.hasError('pattern')">
                                        Maximum 30 characters allowed</span>
                                    <span
                                        *ngIf="userForm.controls.name.hasError('minlength') && !userForm.controls.name.hasError('pattern')">
                                        Minimum 3 characters required</span>
                                    <span *ngIf="userForm.controls.name.hasError('pattern')">Enter valid
                                        name</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="width-50">
                                <input formControlName="phone" matInput placeholder="Phone">
                                <mat-icon matPrefix><em class="fa-solid fa-phone fa-xs"></em></mat-icon>
                                <mat-error
                                    *ngIf="userForm.controls.phone?.invalid && (userForm.controls.phone?.dirty || userForm.controls.phone?.touched)">
                                    <span *ngIf="userForm.controls.phone.hasError('required')">Phone number
                                        is
                                        required!</span>
                                    <span
                                        *ngIf="userForm.controls.phone.hasError('maxlength') && !userForm.controls.phone.hasError('pattern')">
                                        Maximum 10 digits allowed</span>
                                    <span
                                        *ngIf="userForm.controls.phone.hasError('minlength') && !userForm.controls.phone.hasError('pattern')">
                                        Minimum 10 digits required</span>
                                    <span *ngIf="userForm.controls.phone.hasError('pattern')">Enter valid
                                        number</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="width-50">
                                <input formControlName="email" matInput placeholder="Email">
                                <mat-icon matPrefix><em class="fa-solid fa-envelope fa-xs"></em></mat-icon>
                                <mat-error
                                    *ngIf="userForm.controls.email?.invalid && (userForm.controls.email?.dirty || userForm.controls.email?.touched)">
                                    <span *ngIf="userForm.controls.email.hasError('required')">Email is
                                        required!</span>
                                    <span *ngIf="userForm.controls.email.hasError('pattern')">Enter valid
                                        email</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
                </form>
            </div>

            <!-- Update User Information -->
            <div *ngIf="updateUserClicked" class="container-fluid text-center">
                <form [formGroup]=" userForm">
                    <h3 for="addUserFields" style="margin: 40px 0px 40px;">Update User Information</h3>
                    <div id="addUserFields">
                        <div>
                            <mat-form-field class="width-50">
                                <input formControlName="name" matInput placeholder="Name">
                                <mat-icon matPrefix><em class="fa-solid fa-user fa-xs"></em></mat-icon>
                                <mat-error
                                    *ngIf="userForm.controls.name?.invalid && (userForm.controls.name?.dirty || userForm.controls.name?.touched)">
                                    <span *ngIf="userForm.controls.name.hasError('required')">First name is
                                        required!</span>
                                    <span
                                        *ngIf="userForm.controls.name.hasError('maxlength') && !userForm.controls.name.hasError('pattern')">
                                        Maximum 30 characters allowed</span>
                                    <span
                                        *ngIf="userForm.controls.name.hasError('minlength') && !userForm.controls.name.hasError('pattern')">
                                        Minimum 3 characters required</span>
                                    <span *ngIf="userForm.controls.name.hasError('pattern')">Enter valid
                                        name</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="width-50">
                                <input formControlName="phone" matInput placeholder="Phone">
                                <mat-icon matPrefix><em class="fa-solid fa-phone fa-xs"></em></mat-icon>
                                <mat-error
                                    *ngIf="userForm.controls.phone?.invalid && (userForm.controls.phone?.dirty || userForm.controls.phone?.touched)">
                                    <span *ngIf="userForm.controls.phone.hasError('required')">Phone number
                                        is
                                        required!</span>
                                    <span
                                        *ngIf="userForm.controls.phone.hasError('maxlength') && !userForm.controls.phone.hasError('pattern')">
                                        Maximum 10 digits allowed</span>
                                    <span
                                        *ngIf="userForm.controls.phone.hasError('minlength') && !userForm.controls.phone.hasError('pattern')">
                                        Minimum 10 digits required</span>
                                    <span *ngIf="userForm.controls.phone.hasError('pattern')">Enter valid
                                        number</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="width-50">
                                <input formControlName="email" matInput placeholder="Email">
                                <mat-icon matPrefix><em class="fa-solid fa-envelope fa-xs"></em></mat-icon>
                                <mat-error
                                    *ngIf="userForm.controls.email?.invalid && (userForm.controls.email?.dirty || userForm.controls.email?.touched)">
                                    <span *ngIf="userForm.controls.email.hasError('required')">Email is
                                        required!</span>
                                    <span *ngIf="userForm.controls.email.hasError('pattern')">Enter valid
                                        email</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
                </form>
            </div>

            <!-- Delete User -->
            <div *ngIf="deleteUserClicked" class="container-fluid text-center">
                <form [formGroup]=" userForm">
                    <h3 for="addUserFields" style="margin: 40px 0px 40px;">Delete User</h3>
                    <div id="addUserFields">
                        <div>
                            <mat-form-field class="width-50">
                                <input matInput placeholder="User ID">
                                <mat-icon matPrefix><em class="fa-solid fa-user fa-xs"></em></mat-icon>
                                <!-- <mat-error
                                    *ngIf="userForm.controls.name?.invalid && (userForm.controls.name?.dirty || userForm.controls.name?.touched)">
                                    <span *ngIf="userForm.controls.name.hasError('required')">First name is
                                        required!</span>
                                    <span
                                        *ngIf="userForm.controls.name.hasError('maxlength') && !userForm.controls.name.hasError('pattern')">
                                        Maximum 30 characters allowed</span>
                                    <span
                                        *ngIf="userForm.controls.name.hasError('minlength') && !userForm.controls.name.hasError('pattern')">
                                        Minimum 3 characters required</span>
                                    <span *ngIf="userForm.controls.name.hasError('pattern')">Enter valid
                                        name</span>
                                </mat-error> -->
                            </mat-form-field>
                        </div>


                    </div>
                    <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
                </form>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>