<div style="background-image: url('assets/images/bgImg.jpg');height: 40vh;background-size: cover;">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" style="display: flex; justify-content: center; flex-direction: row;">Library
                        Management
                        System</a>
                    <a type="button" (click)="adminLogin()" style="color: white;">Admin Login</a>
                </div>
            </nav>
        </div>
        <div style="margin-bottom: 50px;">
        </div>
        <h1 class="heading"><strong>Welcome to Library Management System</strong></h1>
        <div class="container-fluid">
            <form class="d-flex">
                <input name="search" [(ngModel)]="searchInput" class="form-control matInput me-2" type="search"
                    placeholder="Search" aria-label="Search">

                <button (click)="this.showFilters = true" type="button" class="btn btn-success" *ngIf="!showFilters"
                    style="margin-right: 5px;">
                    <em class="fa-solid fa-filter" style="font-size: 25px;color:white"></em>
                </button>

                <div *ngIf="showFilters" class="dropdown" style="margin-right: 5px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ selectedGenre ? selectedGenre : 'Genres' }}
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let genre of this.allGenresList" (click)="selectGenre(genre)" class="dropdown-item"
                            onkeypress="">
                            {{genre.genre_name}}</li>
                    </ul>
                </div>

                <div *ngIf="showFilters" class="dropdown" style="margin-right: 5px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ selectedLanguage ? selectedLanguage : 'Languages'}}
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let language of this.allLanguagesList" (click)="selectLanguage(language)"
                            class="dropdown-item" onkeypress="">
                            {{language.language_name}}</li>
                    </ul>
                </div>

                <button (click)="search(searchInput,selectedGenre,selectedLanguage)" type="button"
                    class="btn btn-success">Search</button>

            </form>
        </div>


        <div *ngIf="showBooksTable" style="margin-top: 20px;">
            <table class="table table-striped" d>
                <thead>
                    <tr>
                        <th scope="col">Book Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Language</th>
                        <th scope="col">Popularity</th>
                        <th scope="col">Shelf</th>
                        <th scope="col">Availability</th>
                    </tr>
                </thead>
                <tbody *ngFor="let book of this.bookSearchResults; let i = index">
                    <tr>
                        <td>{{book.book_name}}</td>
                        <td>{{book.book_author}}</td>
                        <td>{{book.book_genre}}</td>
                        <td>{{book.book_lang}}</td>
                        <td>{{book.book_popularity}}</td>
                        <td>{{book.book_shelf_id}}</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>